{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}Game results{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Game results</h1>
        <p>
            Congratulations to <strong>{{ winningHand.getPlayer().getName() }}</strong>
            for winning a pot of <strong>{{ potSize }} coins</strong>
            with their <strong>{{ scoring_service.getScoreText(winningHand) }}</strong> hand!
        </p>
        {% for hand in hands %}
            <div class="panel panel-default player-container">
                <div class="panel-heading">
                    <h4>
                        {{ loop.index }}. {{ macros.playerNameWithCoins(hand.getPlayer()) }}
                        with {{ scoring_service.getScoreText(hand) }}
                    </h4>
                </div>
                <div class="panel-body player-cards">
                    {% for card in hand.getCards() %}
                        {{ macros.displayPlayingCard(card) }}
                    {% endfor %}
                </div>
                <div class="panel-footer clearfix">
                    <a href="/player/{{ hand.getPlayer().getId() }}" class="pull-right btn btn-default btn-sm">view player</a>
                    <em>{{ hand.getPlayer().getName() }} placed a bet of {{ hand.getBet() }} coins.</em>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}